*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap:40px;
}